*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: white;
    width: 100%;
    position: sticky;
    flex-direction: row;
    border: 1px black solid;
    z-index: 2;
    padding: 4px 24px 16px;
}

.header-items{
    display: flex;
    align-items: center;
}

.header-links{
    display: flex;
    flex-direction: row;
}

.links{
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    min-width: 68px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 11px 16px;
    text-decoration: none;
    color: #74717a;
}

.bar-and-buttons{
    display: flex;
    flex-direction: row;
    padding-left: 520px;
}

.header-end-items{
    padding-left: 15px;
    padding-right: 15px;
}

.searchbar{
    color: #74717a;
}

.trial-button-text{
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    min-width: 68px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 11px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    background-color: #171321;
    color: white;
}

.sign-in-button-text{
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    min-width: 68px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 11px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    border: none;
    background-color: white;
    color: #74717a;
}

.introduction{
    display: flex;
    flex-direction: row;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 100px;
}

.body-intro{
    width: 50%;
}

.first-title-text{
    color: #171321;
    margin: 0;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
    letter-spacing: -2.1px;
}

h2{
    color: #171321;
    margin: 0;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.second-title-text{
    display: flex;
    justify-content: center;
}

.gitlab-button{
    color: #171321;
    border: none;
    text-decoration: underline;
    text-underline-offset: 2px;
    -webkit-text-decoration-color: transparent;
    text-decoration-color: transparent;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    font-family: Inter,sans-serif;
    min-width: 68px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 11px 16px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    transition: background-color .3s cubic-bezier(.7,0,.3,1);
    background-color: white;
}

.intro-pic{
    max-height: 500px;
    max-width: 100%;
}